/* HeroSection.css */

.hero-section {
    padding: 60px 130px;
    background: #ffffff;
    border-top: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
    margin-top: 500px;
    align-items: center;
  }

.hero-home{
    height: 100%;
    width: auto;
}